<mat-sidenav-container>

    <mat-sidenav [ngClass]="{'opened': opened}" mode="side" opened>
        <span class="badge cursor-pointer" (click)="opened = !opened">
            <mat-icon>{{opened ? 'chevron_left' : 'chevron_right'}}</mat-icon>
        </span>
        <ng-container *ngIf="opened">
            <div class="project">
                <a routerLink="/project/{{projectService.project.id}}/pods" routerLinkActive="active">
                    <span>{{projectService.project.name}}</span>
                </a>
            </div>
            <ng-material-multilevel-menu [configuration]="config" [items]="appitems" (selectedItem)="navigate($event)">
            </ng-material-multilevel-menu>
        </ng-container>
    </mat-sidenav>

    <mat-sidenav-content [ngClass]="{'opened': opened, 'closed': !opened}">
        <div class="content">
            <app-breadcrumbs></app-breadcrumbs>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>