mat-sidenav-container {
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 0;
    right: 0;
}

mat-sidenav {
    width: 40px;
    background-color: #002141;
}

mat-sidenav.opened {
    width: 264px;
}

.badge {
    position: fixed;
    top: 120px;
    left: 25px;
    font-size: 0px;
    border: 2px solid #ffffff;
    border-radius: 17px;
}

mat-sidenav.opened .badge {
    left: 247px;
}

mat-sidenav-content {
    background-color: #2b3253;
}

.project {
    text-align: center;
    margin: 30px 0 20px;
    padding: 0 35px;
    overflow-wrap: break-word;
}

.project span{
    font-size: 24px;
}

mat-sidenav-content.opened {
    margin-left: 264px !important;
}

mat-sidenav-content.closed {
    margin-left: 40px !important;
}