<div class="content">

    <div class="all-project-content">
        <mat-card>
            <span>5,000 Pods</span>
            <span>11.2/20 Cores</span>
            <span>8.6/16 GB memory</span>
            <span>1.5/2.5 TB storage</span>
        </mat-card>
    </div>

    <div class="select-view">
        <mat-icon (click)="currentViewName = 'image'">widgets</mat-icon>
        <mat-icon (click)="currentViewName = 'list'">storage</mat-icon>
    </div>

    <div class="project-content">
        <ng-container *ngFor="let project of projects">

            <ng-container *ngIf="currentViewName == 'image'">
                <mat-card class="project-image-card cursor-pointer" (click)="navigate(project);">
                    <mat-card-header>
                        <mat-card-title>
                            <span>{{project}}</span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <br>
                        <span><h2>Graph</h2></span>
                    </mat-card-content>
                </mat-card>
            </ng-container>

            <ng-container *ngIf="currentViewName == 'list'">
                <mat-card class="project-list-card cursor-pointer" (click)="navigate(project);">
                    <span>{{project}}</span>
                </mat-card>
            </ng-container>

        </ng-container>
    </div>
</div>