.row.wrapper {
    padding: 20px 0;
    background-color: #002141 !important;
}

mat-table {
    background-color: #002141 !important;
}

mat-row {
    border-bottom: 1px solid #ffffff;
}

mat-table mat-cell {
    color: #ffffff !important;
}

.mat-cell {
    justify-content: center;
}

.mat-column-user_name {
    flex: 0 0 25%;
}

.mat-column-email {
    justify-content: flex-start;
}

.mat-column-role,
.mat-column-reinvite,
.mat-column-delete {
    flex: 0 0 15%;
}

select.form-control {
    width: auto;
    height: 31px;
    padding: 0 5px;
    color: #ffffff;
    background-color: transparent;
    font-size: 14px;
}

select.form-control:focus {
    border-color: #ffffff;
    box-shadow: none;
}

select.form-control option {
    background-color: #002141;
}

select.form-control option:active,
select.form-control option:focus,
select.form-control option:hover
select.form-control option:visited {
    background-color: #002141;
}