<div class="content">

    <div class="main-content">

        <div class="row">
            <div class="col-xl-12">
                <mat-card class="top-mat-card">
                    <span>5,000 Pods</span>
                    <span>11.2/20 Cores</span>
                    <span>8.6/16 GB memory</span>
                    <span>1.5/2.5 TB storage</span>
                </mat-card>
            </div>
        </div>

        <div class="row">
            <div class="col mt-auto mb-auto">
                <button type="button" class="btn btn-sm btn-primary" (click)="createProject();">Create Project</button>
            </div>
            <div class="col mt-auto mb-auto">
                <div class="select-view text-right">
                    <mat-icon (click)="currentView = 'image'">widgets</mat-icon>
                    <mat-icon (click)="currentView = 'list'">storage</mat-icon>
                </div>
            </div>
        </div>

        <div class="row projects-row">
            <ng-container *ngFor="let project of projects">
                <ng-container *ngIf="currentView == 'image'">
                    <div class="col-lg-3">
                        <mat-card class="image-card" (click)="navigate(project.id);">
                            <mat-card-header>
                                <mat-card-title>
                                    <span>{{project.display_name}}</span>
                                </mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <br>
                                <span>
                                    <h2>Graph</h2>
                                </span>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </ng-container>

                <ng-container *ngIf="currentView == 'list'">
                    <div class="col-lg-12">
                        <mat-card class="list-card" (click)="navigate(project.id);">
                            <h1>{{project.display_name}}</h1>
                        </mat-card>
                    </div>
                </ng-container>
            </ng-container>
        </div>

    </div>
</div>