.main-content {
    margin: 20px 140px;
}

.top-mat-card {
    background-color: #0f1642;
    padding: 50px 80px;
}

.top-mat-card span {
    font-size: 25px;
    margin: 0 35px;
}

.select-view {
    margin-top: 20px;
    text-align: right;
}

.select-view mat-icon {
    font-size: 28px;
    margin-left: 25px;
    cursor: pointer;
}

.projects-row mat-card {
    background-color: rgba(215, 215, 215, 0.12);
    cursor: pointer;
}

.projects-row .image-card {
    height: 350px;
    margin: 15px 0;
}

.projects-row .list-card {
    margin: 15px 0;
}