<form focusInvalidInput [formGroup]="form" autocomplete="off" novalidate>
    
    <h2 mat-dialog-title class="title">Create Project</h2>

    <div mat-dialog-content>
        <div class="row">
            <div class="col-xl-12 form-group" [ngClass]="displayFieldCss('name')">
                <label><mat-icon class="star">star</mat-icon> Name</label>
                <input class="form-control transparent" type="text" formControlName="name">
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 form-group">
                <label>Description</label>
                <textarea class="form-control transparent" rows="4" type="text" formControlName="description"></textarea>
            </div>
        </div>
    </div>
    
    <div mat-dialog-actions align="center">
        <button class="btn btn-secondary wide" (click)="cancel();">Cancel</button>
        <button class="btn btn-primary wide" (click)="submit();">OK</button>
    </div>
    
</form>
