@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();
$dashboard-primary: mat-palette($mat-indigo);
$dashboard-accent: mat-palette($mat-pink, A200, A100, A400);
$dashboard-active: mat-palette($mat-pink, A200, A100, A400);
$dashboard-warn: mat-palette($mat-red);
$dashboard-theme: mat-light-theme($dashboard-primary, $dashboard-accent, $dashboard-warn);
@include angular-material-theme($dashboard-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #2b3253;
    overflow-x: hidden;
}

.content {
    padding: 20px;
}

.content .title {
    font-size: 20px;
}

.main-wrapper {
    margin: 25px 140px;
}

.wrapper {
    margin-top: 20px;
    padding: 25px;
    background-color: #002141 !important;
}

.has-error .form-control{
  border-color: #dc3545 !important;
}

.star {
    color: #dc3545;
}

span,
label,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

a:hover {
    text-decoration: none;
}

span:focus {
    outline: none;
}

input.transparent,
textarea.transparent {
    background-color: transparent;
    color: #ffffff;
}

input:focus.transparent,
textarea:focus.transparent {
    background-color: transparent;
    border-color: #ffffff;
    box-shadow: none;
    color: #ffffff;
}

textarea.form-control {
  resize: none;
}

.vertical-right-divider {
    border-right: 1px solid #ffffff;
}

.btn-center-align {
    text-align: center;
}

button+button {
    margin-left: 20px;
}

button.base {
    width: 60px;
}

button.wide {
    width: 100px;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.btn-warning,
.btn-warning:hover {
    color: #ffffff;
}

.cursor-pointer {
    cursor: pointer;
}

/* Material icons */
mat-icon {
    color: #ffffff;
}

mat-icon.star {
    color: red;
    font-size: 12px;
    width: 15px;
    height: 15px;
}

/* Material divider */
mat-divider {
    margin: 15px 0;
    border-top-color: #ffffff !important;
}

mat-sidenav mat-divider {
    border: none !important;
}

/* ng-material-multilevel-menu */
mat-list-item span {
    color: rgba(255, 255, 255, 0.28);
}

mat-list-item.selected-amml-item span {
    color: #ffffff !important;
}

/* Material tabs */
.mat-tab-header {
    border-bottom: 1px solid #002141;
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #ffffff;
}

.mat-tab-label {
    color: #ffffff;
}

.mat-tab-label-active {
    color: #ffffff;
    opacity: 1 !important;
}

/* Material expansion panel */
mat-expansion-panel {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border-radius: 4px !important;
}

.mat-expansion-indicator::after {
    color: #ffffff !important;
}

.mat-expansion-panel-body {
    background-color: #002141 !important;
    padding: 0px !important;
}

/* Material select */
mat-select.transparent {
    background-color: transparent;
    color: #ffffff;
}

mat-select:focus.transparent {
    background-color: transparent;
    border-color: #ffffff;
    box-shadow: none;
    color: #ffffff;
}

mat-option.mat-active {
    background: #002141 !important;
}

mat-option.mat-active span.mat-option-text {
    color: #ffffff !important;
}

span.mat-option-text {
    color: #002141;
}

.mat-select-arrow {
    color: #ffffff;
}

/* Material dialog */
.mat-dialog-container {
    background-color: #002141;
    max-width: 700px;
}

.mat-dialog-content p {
    font-size: 17px;
}

.mat-dialog-actions {
    margin-top: 20px;
    margin-bottom: -10px !important;
}

@media (max-width: 1200px) {
    .vertical-right-divider {
        border-right: none;
    }
}